.side-nav {
    min-height: 1000px;
}

nav .button-collapse {
    padding-left: 1em;
}

.side-nav img {
    max-width: 100%;
    margin-bottom: -1.9em;
}

.active {
    background: rgba(0,0,0,0.2);
}

nav .sideNav a.active {
    background: rgba(38,166,154, 0.9);
    color:white;
}

nav .sideNav li a:hover {
    background: rgba(38,166,154, 0.2);
    color:black;
}

.spacer-small {
    width: 100%;
    height: 60px;
}
.spacer-x-small {
    width: 100%;
    height: 20px;
}

.scroll-top {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 60px;
    height: 60px;
    padding: 0 0 0 11px;
    display: none;
    z-index: 9999;
}
.scroll-top i {
    color: white;
    font-size: 44pt;
}

/* headroom css */

.slide {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}
.slide--reset {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}
.slide--up {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

nav .brand-logo {
    padding-left:.5em;
}

.brand-logo img {
    width: 130px;
    padding: 1px;
}

.topnav li a {
    text-transform: uppercase;
}

.videoMain {
    width: 100%;
    max-height: 500px;
    background: #000;
    background-size: cover;
    overflow: hidden;
    z-index: -4;
}

.parallax-container h2{

    background: rgba(0,0,0,0.6);
    color: white;
    position: absolute;
    width: 100%;
    bottom: -0.5em;
    left: 0;
    padding: 0.5em 0 0.5em 1em;
}

p {
    font-size: 14pt;
    line-height: 2.5em;
}

.fullText {
    position: absolute;
    right: 1em;
    color: #26a69a;
}

.fullText:hover {
    -moz-animation: spinnerRotate 1s infinite;
    -webkit-animation: spinnerRotate 1s infinite;
    animation: spinnerRotate 1s infinite;
    color: #26c6da;
}

.timeReddit {
    position: absolute;
    right:5em;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}

.timeReddit:hover {
    color: #26c6da;
}

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

.collection a.collection-item {
    color:black;
}

@media(max-width:992px) {
    .timeReddit {
        position: relative;
        right: auto;
    }

    .fullText {
        position: absolute;
        right: 0.5em;
        color: #26a69a;
    }
}

/* slideshow top */

#headerSlider {
    min-height:400px;
}

.cb-slideshow,
.cb-slideshow:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    max-height:500px;
}
.cb-slideshow:after {
    content: '';
    /*background: transparent url('https://www.transparenttextures.com/patterns/black-orchid.png') repeat top left;*/
    background-attachment:fixed;
}


.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background-size: cover;
    background-position: bottom;
    background-attachment:fixed;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px;
}

.cb-slideshow li:nth-child(1) span {
    background-image: url('https://unsplash.it/1980/1020/?random')
}
.cb-slideshow li:nth-child(2) span {
    background-image: url('https://unsplash.it/1980/1020/');
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
    background-image: url('https://unsplash.it/1980/1020/?random');
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url('https://unsplash.it/1980/1020/?random');
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url('https://unsplash.it/1980/1020/?random');
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url('https://unsplash.it/1980/1020/?random');
    animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div {
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
    animation-delay: 30s;
}


@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
    opacity: 1;
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 { font-size: 80px }
}